<p>Информация о клиенте:<br>
<strong><%= @customer.name %></strong><br />
<%= @customer.kind.name %><br />
<%= @customer.adres %><br />
<%= @customer.phone %><br />
<%= @customer.comment %><br />
</p>
<hr>
<h3>Адреса доставки:</h3>

<% if @customer.locations %>
<ul>
<% @customer.locations.each do |loc| %>
  <% if loc.id %>  
    <li>
      <%= loc.adres %>
      <%= loc.phone %>
      <%= loc.comment %>
      <%= link_to "Edit", customer_path(@customer, location_id: loc.id) %>
      <%= link_to "Delete", location_path(loc.id), method: :delete, data: { confirm: "Удалить адрес?" } %>
    </li> 
  <% end %>
<% end %>
</ul>
<% end %>

<%= form_for @location do |l| %>
  <%= l.text_field :adres %><br>
  <%= l.text_field :phone %><br>
  <%= l.text_field :comment %><br>
  <%= l.text_field :customer_id, type: "hidden", value: @customer.id %><br>
  <% if params[:location_id] %>
    <%= l.submit "Редактировать" %>
  <% else %>
    <%= l.submit "Добавить" %>
  <% end %>
<% end %>

<hr>
<h3>Ценовые группы:</h3>
<% if @customer.price_group_id %>
  <p>Текущая ценовая группа: <%= @customer.price_group.name %> </p>
  <% @customer.price_group.price_group_lines.each do |lin| %>
    <%= lin.item.name %>
    <%= lin.amount %>
    <%= lin.price %>
  <% end %>
<% else %>
  <p>Ценовая группа не назначена!</p>
<% end %>
<%= form_for @customer do |c| %>
  <%= collection_select(:customer, :price_group_id, PriceGroup.all, :id, :name) %>
  <%= c.submit "Назначить!" %>
<% end %>

<%= link_to "Home", root_path %>
